<%= form_for @resume do |f| %>
  <% if @resume.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resume.errors.count, "error") %> prevented this resume from being uploaded: </h2>

        <ul>
	<% @resume.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
    </div>
  <% end %>

    <div class="row align-center">
      <div class="small-4 columns">
      </div>
      <div class="column small-4">
        <center>
        <div class="field">
          <%= f.file_field :attachment, :required=>'required' %>
        </div>
        </center>
      </div>
      <div class="small-4 columns">
      </div>
    </div>

  <div class="row align-center">
    <div class="column small-4 text-center">
      <div class="field">
        <%= f.submit 'Upload Resume', :class=>"button"%>
      </div>
    </div>
  </div>
<% end %>
