<br>
  <% if @user.resume_document %>
    <b><%=@user.name%>'s Resume</b>
    <br>
    <h3> Testing </h3>
------------------------------------------------------------
<br>    
Your Uploaded Resume file: <%= @user.resume_document.filename %>
<br>
    <% @experience.each do |exp| %>
       Industry: <%= exp["industry"] %><br>
       Position: <%= exp["position"] %><br>
       Experience: <%= exp["experience"]%> in days
       <br>
    <% end %>
<br>

<br>
-----------------------------------------------------------
    <br>
    <% r=$client.post('viewdocument', {:mode=>'document', :file=>open('public' + @user.resume_document.attachment_url,'r')}) %>
    <div align: center>
    <iframe srcdoc="<%=r.json%>" width="800" height="600" style="border:5px dotted green"></iframe>
    </div>
    <div>
    <br>  
    </div>
    <br>
    <% if current_user==@user %>
      <%= button_to "Delete", @user.resume_document, :class=>"button", method: :delete, confirm: "Are you sure?" %>
    <% end %>
  <% else %>
    <%= button_to 'Upload Resume', new_resume_document_path, :class=>"button", :method => :get %>
  <% end %>
  <br>
<%= button_to 'Home', root_path, :class=>"button", :method => :get %>

