<%= form_for @job do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resume.errors.count, "error") %> prevented this resume from being uploaded: </h2>

        <ul>
	<% @job.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label 'Position Name' %><br>
    <%= f.text_field :position %>
 </div>
<br>
 <div class="field">
 <%= f.label 'Description (optional)' %><br>
 <%= f.text_field :description %>
 </div>
<br>
 <div class="field">
 <%= f.label 'Redirect Link (optional)' %><br>
 <%= f.text_field :hyperlink %>
 <div>
<br>
  <div class="field">
    <%= f.label :attachment%><br>
    <%= f.file_field :attachment %>
  </div>
<br>
  <div class="field">
    <%= f.radio_button :job_type, 'Full-Time' %>Full-Time<br />
    <%= f.radio_button :job_type, 'Part-Time' %>Part-Time<br />
    <%= f.radio_button :job_type, 'Internship' %>Internship<br />
  </div>
<br>
  <div class="field">
    <%= f.submit %>
  </div>
<% end %>
