<h1> All Jobs </h1>
<% if @jobs.size < 1 %>
Sorry, currently no jobs posted 
<% else %>
  <% @employers.each do |employer| %>
    <% employer.jobs.each do |job| %>
      <%= link_to job.position, job, :method=>:get %>
      <br>
      <%=job.job_type%>
      <br>
      <%=employer.companyName %>
      <br>
      <% if job.description %>
        <%=job.description%>
        <br>
      <% end %>
---------------------------------------------------
    <br>
    <% end %>
    <br>
  <% end %>
<% end %>
<%= button_to 'Home', root_path, :class=>"button", :method => :get %>
