<br>
  <% if @job %>
    <h1><%= @job.position %></h1>
    <br>
********************************
TESTING
<br>
Experience:
<%=@job_experience["start"]%> - <%=@job_experience["end"]%>
<br>
*********************************

    <br>
    <% if @job.description %>
      <%=@job.description %>
    <% end %>
    <br>
    <% if user_signed_in? %>
      <% if current_user.resume_document %>
        You match this job <%=(@result*100).to_i%>  %
        <br>
----------------------------------------------------
<br>
TESTING
<br>
Your words:
        <% @resume_words.each do |word| %>
          <%=word%>,
        <% end %>
<br>
***********************************
Your flags:
<br>
        <% @myflag.each do |key, value| %>
          <% if value==true %>
           True flag found:
            <%=key%>
          <br>
          <% else %>
          False flag Found:
            <%=key %>
            <br>
          <% end %>
        <% end %>
**************************************
<br>
This applications words: 
        <% @job_words.each do |word| %>
          <%=word%>,
        <% end %>
<br>
Matching words found:
        <% @matching_words.each do |word| %>
          <%=word%>,
        <% end %>
<br>
----------------------------------------------------
<br>
        <% if @applied==false %>
        <%= render 'job_applications/form' %>
        <% if @job.hyperlink %>
          or you can apply directly at:
        <% end %>
        <% else %>
          You have already applied to this position.
        <% end %>
      <% else %>
        Upload a Resume to Apply! <%=button_to 'Upload Resume', new_resume_document_path, :class=>"button", :method=>:get %> 
        <br>
      <% end %>
    <% end %>
    <% if @job.hyperlink %>
      <%=link_to @job.hyperlink, @job.hyperlink %>
    <% end %>
    <br>
    <% r=$client.post('viewdocument', {:mode=> 'document', :file=>open('public' + @job.attachment_url,'r')}) %>
    <div align: center>
    <iframe srcdoc="<%=r.json%>" width="800" height="600" style="border:5px dotted green"></iframe>
    </div>
    <br>
    <% if @job.employer==current_employer %>
      <%= button_to "Delete", @job, :class=>"button", method: :delete, confirm: "Are you sure?" %>
    <% end %>  
  <% else %>
    <%= button_to 'Create a Job Posting', new_job_path, :class=>"button", :method => :get %>
  <% end %>
  <br>
<%= button_to 'Home', root_path, :class=>"button", :method => :get %>


